p {
  font-family: Lato;
}

h3{
  width: fit-content;
  margin: 0 auto 1rem auto;
  padding: 1rem;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  background-color: #003F5C;
  color: #FFFFFF;
}

h3 span{
  font-size: 18px;
  font-weight: 600;
}

app-dashboard{
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
  gap: 1rem;
}

@media (max-width: 959px){
  app-dashboard{
    grid-template-columns: 1fr;
  }
}

@media (min-width: 960px) and (max-width: 1279px){
  app-dashboard{
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1280px){
  app-dashboard{
    grid-template-columns: 1fr 1fr 1fr;
  }
}