<!--TODO: melhorar o layout dos cards para exibir ao menos 2 por linha em telas > md, e pequenas (sm) 1 -->
<div class="loading-card-placeholder" *ngIf="cards == undefined">
    <span class="item item-1"></span>
    <span class="item item-2"></span>
    <span class="item-3">
        <span class="subitem"></span>
        <span class="subitem"></span>
    </span>
</div>
<div class="loading-card-placeholder" *ngIf="cards == undefined">
    <span class="item item-1"></span>
    <span class="item item-2"></span>
    <span class="item-3">
        <span class="subitem"></span>
        <span class="subitem"></span>
    </span>
</div>
<div class="loading-card-placeholder" *ngIf="cards == undefined">
    <span class="item item-1"></span>
    <span class="item item-2"></span>
    <span class="item-3">
        <span class="subitem"></span>
        <span class="subitem"></span>
    </span>
</div>
<div class="loading-card-placeholder" *ngIf="cards == undefined">
    <span class="item item-1"></span>
    <span class="item item-2"></span>
    <span class="item-3">
        <span class="subitem"></span>
        <span class="subitem"></span>
    </span>
</div>
<div class="loading-card-placeholder" *ngIf="cards == undefined">
    <span class="item item-1"></span>
    <span class="item item-2"></span>
    <span class="item-3">
        <span class="subitem"></span>
        <span class="subitem"></span>
    </span>
</div>
<div class="loading-card-placeholder" *ngIf="cards == undefined">
    <span class="item item-1"></span>
    <span class="item item-2"></span>
    <span class="item-3">
        <span class="subitem"></span>
        <span class="subitem"></span>
    </span>
</div>

<app-card [card]="card" *ngFor="let card of cards"></app-card>